:root.theme-dark {
   --accent-color: rgba(255, 0, 112, 1);
    --bg-theme-image: url('../images/cover-image-dark.png');
    --bg-theme-color: rgba(0, 0, 40, 1);
    --head-title-color: rgba(219, 0, 255, 1);
    --title-decor-color: rgba(0, 0, 40, 1);
    --title-bg-color: rgba(255, 0, 112, 1);
    --section-title-color: rgba(255, 0, 112, 1);
    --card-paragraph-color: rgba(241, 178, 206, 1);
    --decor-element-block: block;
    --hover-button-border-color: rgba(255, 0, 112, 0.4);
}