
:root.theme-light {
    --accent-color: rgba(255, 141, 203, 1);
    --bg-theme-image: none;
    --bg-theme-color: rgba(255, 241, 247, 1);
    --head-title-color: rgba(255, 194, 230, 1);
    --title-decor-color: rgba(53, 52, 48, 1);
    --title-bg-color: rgba(255, 141, 203, 1);
    --section-title-color: rgba(53, 52, 48, 1);
    --card-paragraph-color: rgba(53, 52, 48, 1);
    --decor-element-block: none;
    --hover-button-border-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
:root {
   --accent-color: rgba(255, 141, 203, 1);
    --bg-theme-image: none;
    --bg-theme-color: rgba(255, 241, 247, 1);
    --head-title-color: rgba(255, 194, 230, 1);
    --title-decor-color: rgba(53, 52, 48, 1);
    --title-bg-color: rgba(255, 141, 203, 1);
    --section-title-color: rgba(53, 52, 48, 1);
    --card-paragraph-color: rgba(53, 52, 48, 1);
    --decor-element-block: none;
    --hover-button-border-color: rgba(50, 49, 45, 0.4);
}
}