/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  padding-inline-start: var(--margin-page);
  padding-inline-end: var(--margin-page);
  background-color: var(--bg-theme-color);
  background-image: var(--bg-theme-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: var(--header-columns);
  grid-template-rows: var(--header-rows);
  margin-block-end: var(--header-margin-bot);
  block-size: 100vh;
  min-block-size: 668px;
}

.header-decor-element {
  position: absolute;
  display: var(--decor-element-block);
  color: rgba(255, 0, 112, 1);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  inset-inline-end: 28px;
  inset-block-start: var(--rec-inset);
}

.header-decor-element:after {
  content: "";
  position: absolute;
  display: var(--decor-element-block);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  color: inherit;
  background-color: currentColor;
  inset-inline-end: -20px;
  inset-block-start: 8px;
  inline-size: 9px;
  aspect-ratio: 1 / 1;
}

.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  display: block;
  aspect-ratio: 1 / 1;
  block-size: 24px;
}

.decorated-zone::after {
  content: "";
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-inline-end: 0;
  inset-block-start: var(--decor-element-inset);
}

.decorated-zone::before {
  content: "";
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-block-end: var(--decor-element-inset);
}

.header__title {
  margin-inline-start: var(--header-title-margin-left);
  margin-block-start: var(--header-padding-top);
  color: var(--head-title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: var(--font-size-titles);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  align-self: start;
  color: var(--title-decor-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--title-bg-color);
}

.header__paragraph--layout {
  align-self: start;
  margin-block-start: var(--header-paragraph-layout);
}

.header__theme-menu {
  justify-self: var(--theme-menu-justify);
  padding-block-start: var(--switch-theme-menu-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--menu-list-flex-direction);
  gap: 11px;
}

.header-span {
  display: block;
  inline-size: var(--header-span-inline-size);
}

.header-second-span {
  display: block;
}

.section {
  display: grid;
  gap: 20px;
  margin-block-end: var(--section-margin-bot);
}

.cards__list {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.cards__list-item .cards__title {
  margin-block-end: 10px;
}

.card__title--margin-bot {
  margin-block-start: -2px;
  margin-block-end: 20px;
}

.cards__paragraph {
  color: var(--card-paragraph-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.section-concentration__title--layout {
  display: grid;
  grid-template-columns: var(--section-concentration-title-layout);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.cards__title--weight--regular {
  font-weight: 400;
}

.section__images {
  display: grid;
  gap: var(--section-img-gap);
  margin-block-end: var(--section-img-margin-bot);
}

.section__images .cards__list {
  gap: var(--section-img-gap);
}
.image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  margin: auto;
  color: var(--head-title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: var(--font-size-titles);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1px 12px 4.5px 12px;
  color: var(--section-title-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-button-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

@media (min-width: 390px) {
  .header__paragraph--layout {
    margin-inline-start: var(--margin-inline-paragraph);
  }
}

@media (min-width: 768px) {
  .header {
    grid-template-areas:
      "menu menu"
      "title title"
      ". paragraph";
  }

  .header__title {
    align-self: center;
  }
  .section__images .cards__list-item:nth-child(1) {
    grid-area: sunset;
  }
  .section__images .cards__list-item:nth-child(2) {
    grid-area: ice-cream;
  }
  .section__images .cards__list-item:nth-child(3) {
    grid-area: tape;
  }
  .section__images .cards__list-item:nth-child(4) {
    grid-area: books;
  }
  .section__images .cards__list-item:nth-child(5) {
    grid-area: street;
  }
  .menu-area {
    grid-area: menu;
  }
  .paragraph-area {
    grid-area: paragraph;
  }
  .title-area {
    grid-area: title;
  }
  .section--layout {
    grid-template-columns: 1fr 2fr;
  }
  .cards__title--margin-bot {
    margin-block-end: 20px;
  }
  .section__images .cards__list {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

@media (min-width: 1024px) {
  .section--layout {
    grid-template-columns: 1fr 2.06fr;
  }
  .cards__list_concentration {
    grid-template-columns: repeat(3, 1fr);
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}
