/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-theme-color);
  background-image: var(--bg-theme-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
  padding-inline-start: var(--margin-page);
  padding-inline-end: var(--margin-page);
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: var(--header-margin-bot);
}

.header-decor-element {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 10px;
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 0, 112, 1);
}

.header-decor-element:after {
  content:"";
  display: block;
  position: absolute;
  inset-inline-end: -20px;
  inset-block-start: 8px;
  color: inherit;
  background-color: currentColor;
  inline-size: 9px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
}

.border-decor-element-up,
.border-decor-element-bot {
  position:absolute;
  display: block;
  aspect-ratio: 1 / 1;
  block-size: 24px;
}

.header .border-decor-element-bot {
  inset-block-end: 10px;
}

.header .border-decor-element-up {
  inset-inline-end: 0;
  inset-block-start: 10px;
}

.border-decor-element-up {
  border-top: 1px solid rgba(255, 0, 112, 1);
  border-right: 1px solid rgba(255, 0, 112, 1);
}

.border-decor-element-bot {
  border-bottom: 1px solid rgba(255, 0, 112, 1);
  border-left: 1px solid rgba(255, 0, 112, 1);
}

.header__title {
  align-self: center;
  color: var(--head-title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);;
  margin-inline-start: var(--header-title-margin-left);
}

.title-decor {
  align-self: start;
  color: var(--title-decor-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--title-bg-color);
}

.header__paragraph--margin-top{
margin-block-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-span {
  display: block;
  inline-size: 320px;
}

.header-second-span {
  display: block;
}

.section {
  margin-block-end: var(--section-margin-bot);
  display: grid;
  gap: 20px;
}

.cards__list {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
}


.cards__list-item .cards__title {
  margin-block-end: 10px;
}

.cards__paragraph {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-paragraph-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor; 
}

.cards__title--weight--regular {
  font-weight: 400;
}

.section__images {
  display: grid;
  gap: var(--section-img-gap);
  margin-block-end: var(--section-img-margin-bot) ;
}

.section__images .cards__list {
  gap: var(--section-img-gap)
}
.image {
  display: block;
  width: 100%;
}


