/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  text-wrap-style: pretty;
}

.page {
  background-color: var(--bg-theme-color);
  background-image: var(--bg-theme-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
  padding-inline-start: var(--margin-page);
  padding-inline-end: var(--margin-page);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: var(--header-margin-bot);
  display: grid;
  grid-template-columns: var(--header-columns);
  grid-template-rows: var(--header-rows);
}

.header-decor-element {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: var(--rec-inset);
  display: var(--decor-element-block);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 0, 112, 1);
}

.header-decor-element:after {
  content:"";
  display: var(--decor-element-block);
  position: absolute;
  inset-inline-end: -20px;
  inset-block-start: 8px;
  color: inherit;
  background-color: currentColor;
  inline-size: 9px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
}

.border-decor-element-up,
.border-decor-element-bot {
  position:absolute;
  display: var(--decor-element-block);
  aspect-ratio: 1 / 1;
  block-size: 24px;
}


.border-decor-element-up {
  border-top: 1px solid rgba(255, 0, 112, 1);
  border-right: 1px solid rgba(255, 0, 112, 1);
  inset-inline-end: 0;
  inset-block-start: var(--decor-element-inset);
}

.border-decor-element-bot {
  border-bottom: 1px solid rgba(255, 0, 112, 1);
  border-left: 1px solid rgba(255, 0, 112, 1);
   inset-block-end: var(--decor-element-inset);
}

.header__title {
  color: var(--head-title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: var(--font-size-titles);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);;
  margin-inline-start: var(--header-title-margin-left);
  padding-block-start: var(--header-padding-top);
}

.title-decor {
  align-self: start;
  color: var(--title-decor-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--title-bg-color);
}

.header__paragraph--layout{
  align-self: start;
  margin-block-start: var(--header-paragraph-layout);
}

.header__theme-menu {
  justify-self: var(--theme-menu-justify);
  padding-block-start: var(--switch-theme-menu-padding);
  }

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--menu-list-flex-direction);
  gap: 11px;
}

.header-span {
  display: block;
  inline-size: var(--header-span-inline-size);
}

.header-second-span {
  display: block;
}

.section {
  margin-block-end: var(--section-margin-bot);
  display: grid;
  gap: 20px;
}

.cards__list {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}


.cards__list-item .cards__title {
  margin-block-end: 10px;
}

.card__title--margin-bot {
  margin-block-end: 20px;
  margin-block-start: -2px;
}

.cards__paragraph {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-paragraph-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor; 
}

.cards__title--weight--regular {
  font-weight: 400;
}

.section__images {
  display: grid;
  gap: var(--section-img-gap);
  margin-block-end: var(--section-img-margin-bot) ;
}

.section__images .cards__list {
  gap: var(--section-img-gap)
}
.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--head-title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: var(--font-size-titles);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: auto;
}

.header__theme-menu-button {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--section-title-color);
  border: 1px solid transparent;
  background-color:  transparent;
  text-transform: lowercase;
  padding: 1px 12px 4.5px 12px;
  }

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: currentColor;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-button-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid currentColor;
}


