/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: rgba(255, 0, 112, 1);
  --decor-color: rgba(255, 0, 112, 1);
  --bg-theme-image: url("../images/cover-image-dark.png");
  --bg-theme-color: rgba(0, 0, 40, 1);
  --head-title-color: rgba(219, 0, 255, 1);
  --title-decor-color: rgba(0, 0, 40, 1);
  --title-bg-color: rgba(255, 0, 112, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --card-paragraph-color: rgba(241, 178, 206, 1);
  --margin-page: 10px;
  --header-title-margin-left: 0;
  --header-margin-bot: 40px;
  --section-margin-bot: 50px;
  --section-img-gap: 10px;
  --section-img-margin-bot: 40px;
  --font-size-titles: 116px;
  --switch-theme-menu-padding: clamp(75px, calc(-36.641px + 29.771vw), 192px);
  --decor-element-inset: 10px;
  --decor-element-block: block;
  --rec-inset: 10px;
  --header-columns: 1fr;
  --header-rows: auto;
  --header-paragraph-layout: -12px;
  --menu-list-flex-direction: column;
  --header-span-inline-size: 320px;
  --theme-menu-justify: end;
  --hover-button-border-color: rgba(255, 0, 112, 0.4);
  --margin-inline-paragraph: clamp(0px, calc(-435.517px + 111.671vw), 390px);
}

@media (min-width: 375px) {
  :root {
    --font-size-titles: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --section-margin-bot: clamp(50px, calc(21.374px + 7.634vw), 80px);
  }
}

@media (min-width: 768px) {
  :root {
    --section-concentration-title-layout: 0.3242fr;
    --margin-inline-paragraph: 0;
    --font-size-titles: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --span-text--block: block;
    --section-img-margin-bot: 60px;
    --section-img-gap: 20px;
    --margin-page: 20px;
    --header-margin-bot: 60px;
    --decor-element-inset: 20px;
    --rec-inset: 20px;
    --header-title-margin-left: -20px;
    --header-columns: repeat(2, 1fr);
    --header-rows: repeat(3, 1fr);
    --header-padding-top: 2px;
    --header-paragraph-layout: 41px;
  }
}

@media (min-width: 1024px) {
  :root {
    --section-concentration-title-layout: 0.32fr;
    --font-size-titles: clamp(9.8125rem, 6.7356rem + 4.8077vw, 11.0625rem);
    --menu-list-flex-direction: row;
    --theme-menu-justify: center;
    --switch-theme-menu-padding: 20px;
    --header-span-inline-size: 100%;
    --header-paragraph-layout: 51px;
    --header-padding-top: 1px;
  }
}
